page-employees {
  .table {
    border-collapse: collapse;
  }
  .table td,
  .table th {
    background-color: #fff;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd;
  }

  .table tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }
}
